.hourContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(187, 151, 141);
  height: 12rem;
  width: 9rem;
  border-radius: 20px;
  margin: 1.3rem;
  padding: 1rem 0.7rem;
  box-shadow: 0 0 15px 5px;
  align-items: center;
  text-align: center;
}

.hourContainer h5 {
  text-shadow: 0 3px 3px black;
  color: #fff;
  font-weight: 500;
}
.hourContainer p {
  color: rgb(18, 79, 68);
  font-weight: 800;
}

.hourContainer img {
  height: 7rem;
  width: 7rem;
}
